# Node / frontend
node_modules/
dist/
build/
lib/
.theia/
.env
*.log
*.lock
.DS_Store

# Python / backend
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# System / editor files
.idea/
.vscode/
*.swp

# Local artifacts
*.egg-info/
*.bak
*.tmp
*.old
